<!DOCTYPE html>
<html lang="en">
{% extends "polls/bootstrap.html" %}
    <head>
    {% block content %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #86dbd2">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'polls:index' %}">Polls</a>
            <div class="nav justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                    <li class="navbar-text">
                        Current user: {{ user.username }}
                        <a class="btn btn-light" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <a class="btn btn-light" style="margin-right: 10px" href="{% url 'login' %}">Login</a>
                    <a class="btn btn-light" href="{% url 'signup' %}">Sign Up</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div style="margin: 40px; border-style: solid;border-radius: 20px;border-width: thick; background-color: #d4fcf8">
        <h1 style="margin-left: 40px;margin-top: 20px">{{ question.question_text }}</h1>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <div style="margin: 40px">
            <form action="{% url 'polls:vote' question.id %}" method="post">
                {% csrf_token %}
                {% for choice in question.choice_set.all %}
                <div style="margin-top: 20px">
                    {% if last_vote.id != choice.id %}
                    <button  type="submit"  class="btn" style="background-color: #86dbd2" name="choice" id="choice{{ forloop.counter }}"
                             value="{{ choice.id }}"> VOTE</button>
                    {% else %}
                    <button type="submit" class="btn btn-danger" disabled> Voted </button>
                    {% endif %}
                    <label for="choice{{ forloop.counter }}"style="margin-left: 20px;font-size: x-large">{{ choice.choice_text }}</label></div><br>
                {% endfor %}
            </form>
            <div style="margin-top: 40px;text-align: right">
                <button  class="btn" style="background-color: #86dbd2">
                    <a href="{% url 'polls:index' %}" style="text-decoration: none;color: black; font-size: large ">Back to List of Polls</a>
                </button>
            </div>
        </div>
    </div>
    {% endblock %}
</head>
<body>

</body>
</html>