<!DOCTYPE html>
<html lang="en">
{% extends "polls/bootstrap.html" %}
<head>
    <meta charset="UTF-8">
    {% block content %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #86dbd2">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'polls:index' %}">Polls</a>
        </div>
    </nav>
    <div style="margin: 50px; border-style: solid;border-radius: 10px;border-width: thick; background-color: #d4fcf8">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <h1 style="text-align: left;margin-left: 10px">Logged out</h1>
            <p style="text-align: left;margin-left: 10px; font-size: large"> Want to login again?</p>
            <a class="btn" style="margin-left: 10px;margin-bottom: 20px; width: 10%; background-color: #86dbd2" href="{% url 'login' %}">Login</a>
        </ul>
    </div>
    {% endblock %}
</head>
</html>