<!DOCTYPE html>
<html lang="en">
{% extends "polls/bootstrap.html" %}
<head>
    <meta charset="UTF-8">
    {% block content %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #86dbd2">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'polls:index' %}">Polls</a>
        </div>
    </nav>
    <div style="margin: 50px; border-style: solid;border-radius: 10px;border-width: thick; background-color: #d4fcf8">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <h1 style="text-align: left;margin-left: 10px">Login</h1>
            <form method="post" style="text-align: left;margin-left: 10px">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="btn" style="margin-left: 10px; margin-bottom: 20px; width: 10%; background-color: #86dbd2" type="submit">Login</button>
              <input name="next" type="hidden" value="{{next}}"/>
            </form>
        </ul>
    </div>
    {% endblock %}
</head>
</html>